@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;300;400;500;600;700;800;900&family=Noto+Sans+Bengali:wght@100;300;500;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Noto Sans Bengali,sans-serif;
}
/* common_part_start */
a{
text-decoration: none;

}
:root{
    --blue:#670AC8;
    --thin:#fd346e;
}
/* coom_part_end */

/* banner_section_start */
.banner_section_start{
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    /* height: 600px; */
}
.banner_section_logo{

}
.banner_section_details_left{

}
.banner_section_details_left h2{
    font-weight: bold;
    font-size: 32px;
    line-height:160%;
}
.banner_section_details_left h2 span{
    color:var(--thin);
}
.banner_left_down{

}
.banner_left_down_img_1{
position: relative;
}
.banner_left_down_img_2{
position: absolute;
left: 60%;
right: 0%;
top:10%;
}
.banner_left_down_para{
 position: absolute;
 top:30%;
 left: 10%;
 bottom: 5%;
 right: 10%;
}
 .banner_left_down_para h3{
    color:var(--thin);
    font-size: 30px;
    font-weight: bold;
}
.banner_left_down_btn .btn{
background-color:#a1d41c;
padding: 25px 30px;
font-size: 20px;
font-weight: bold;
color: white;
}
.banner_left_down_btn .btn:hover{
    background-color: navy;
}
/* left_end */
.banner_section_details_right{

}
/* banner_section_end */
/* Padma_hilsa_fish_section_start */
.Padma_hilsa_fish_section_start{

}
.Padma_hilsa_fish_details{

}
.Padma_hilsa_fish_img{
position: relative;
animation: g 3s linear infinite;
    transition: 3s;
}
.Padma_hilsa_fish_img_para{
text-align: center;
position: absolute;
top:40%;
left: 15%;
right: 20%;
bottom: 10%;
}
.Padma_hilsa_fish_img_para h5{
    font-weight: 700;
    font-size: 35px;
    line-height:2rem;
    color: white;
}
.Padma_hilsa_fish_img_para h1{
    font-weight: 700;
    font-size: 40px;
    line-height:4rem;
    color: #FCDC00;
}
.Padma_hilsa_fish_img_para h4{
    font-size: 30px;
    line-height:3rem;
    color: white;
}
/* Padma_hilsa_fish_section_end */
/* advantage_off_our_fish_start */
.advantage_off_out_fish{
background-color: #F6F7FA;
position: relative;
}
.advantage_off_out_fish_title{
    text-align: center;
}
.advantage_off_out_fish_title h1{
    line-height: 3rem;
}
    /* advangate_details */
.advantage_fish_details_one{
 text-align: center;
 background-color: white;
 border-radius: 10px;
 transition:all 0.7s;
}
.advantage_fish_details_one:hover{
    background-color: #E5E7EB;

}

.advantage_fish_details_one_img{

}
.advantage_fish_details_one p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 166%;
    color: #6b6785;
    text-align: center;
}

.common_img_part{
    position: absolute;
    right:0%;
    top:90%;
    bottom: 0%;
}
/* advantage_off_our_fish_end */
/* fish_marketing_section_start */
.fish_marketing_section_start{
}
.fish_marketing_details{

}
.fish_marketing_details h5{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 166%;
    color: #6b6785;
    text-align: justify;
}
.fish_marketing_details_youtube{
    overflow: hidden;
    border-radius: 20px;
}
/* fish_marketing_section_end */
/* price_discount_section_start */
.price_discount_section_start{
position: relative;
}
.price_discount_section{

}
.price_discount_section_img{
    position: relative;
}
.price_discount_para{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
    bottom: 30%;
}
.price_discount_para h1{
    font-weight: bold;
    color: #FD4343;
}
.price_discount_para h4{
 line-height: 40px;
 color: #6b6785;
}
.commn_img_2{
    position: absolute;
    left:0%;
    right:90%;
    bottom: 0%;
}
/* price_discount_section_end */
/* fish_category_section_start */
.fish_category_section_start{
    
}
/* fish_category_section_end */